.canvas {
  margin-bottom: 30px;

  .canvas-shrink {
    max-width: 100%;
  }
}

.minicolors-theme-default {
  &.minicolors {
    width: 100%;
  }

  .minicolors-swatch {
    top: 5px;
    left: 5px;
    width: 24px;
    height: 24px;
  }

  &.minicolors-position-right {
    .minicolors-input {
      height: 34px;
      padding-left: 12px;
      width: 100%;
    }
  }
}

rt {
  font-size: x-small;
}

.template-list {
  display: block;

  & > li {
    display: inline-block;
    padding: 0;
    margin: 8px;
    box-shadow: 0 0 3px silver;
    cursor: pointer;
  }
}

.tooltip {
  .template {
    display: block;
    color: white;
  }

  .author {
    display: block;
    color: #666;
  }
}

input[readonly] {
  cursor: text !important;
}

#template {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

#font_finder {
  position: absolute;
  opacity: 0;
}
