// Core variables and mixins
@import "aigis/variables";
@import "bootswatch/Cyborg/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass/assets/stylesheets/bootstrap/print";
// @import "bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "bootstrap-sass/assets/stylesheets/bootstrap/badges";
// @import "bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "bootstrap-sass/assets/stylesheets/bootstrap/popovers";
// @import "bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

// bootswatch
@import "bootswatch/Cyborg/bootswatch";

// select2
@import "select2-bootstrap-css/compass/stylesheets/select2-bootstrap";

.select2-drop {
  background-color: #222;
  color: #eee;

  input {
    background-color: #222;
    color: #eee;
  }

  &.select2-drop-above.select2-drop-active {
    border-color: $brand-warning;
  }
}

.select2-container .select2-choice {
  background-color: #222;
  background-image: none;
  color: #eee;
}

.select2-container-multi.select2-container-active .select2-choices {
  border-color: $brand-warning;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  background-color: #000;
  background-image: none;
  border-color: $brand-warning;
}

.select2-search input {
  background: url('select2.png') no-repeat 100% -22px, #000;
}

.select2-container-active .select2-choice, .select2-container-multi.select2-container-active .select2-choices {
  border-color: $brand-primary;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $brand-primary;
}

.select2-results .select2-highlighted {
  background-color: darken($brand-primary, 5%);
  color: #eee;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
    color: $brand-warning;
    background-color: #000;
}

// ion.rangeslider
@import "vendor/ion.rangeSlider.skinHTML5";

.irs-line {
  background: linear-gradient(to bottom,#424242 -50%,#242424 150%);
  border: none;
}

.irs-min, .irs-max {
  color: #888;
  background-color: $btn-default-bg;
}

@import "aigis/aigis";
