.app-exp {
  margin-bottom: 30px;

  h1 {
    color: #ccc;
    font-size: 32px;
  }

  h4 {
    color: #888;
    font-size: 20px;
  }

  .form-control {
    border-color: #111;
    background-color: rgba(50, 50, 50, 0.8);
    color: #fff;
  }

  .control-label {
    color: #888;
  }

 .form-group:after {
    display: table;
    content: "";
    clear: both;
  }

  .form-control + .input-group-addon,
  .form-control + .input-group-addon + .form-control {
    border-left: none;
  }

  .input-group-addon {
    background-color: #373737;
    color: #bbb;
  }

  .input-group-btn .bootstrap-touchspin-down {
    border-radius: 0;
    border-right: none;
    border-left: none;
  }

  select[name=current_level] {
    min-width: 6em;
  }

  input[type="text"]::-ms-clear {
    display: none;
  }

  .breeding-item {
    margin-bottom: 20px;
  }

  .required-exp {
    display: block;
    text-align: center;
    background-color: #202020;
    padding: 20px;
  }

  .property {
    display: inline-block;
  }

  .property-value {
    display: block;
    font-size: 64px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    text-align: right;
    line-height: 64px;
  }

  .property-unit {
    display: block;
    font-size: 12px;
    text-align: right;
    color: #428bca;
  }

  .diff {
  }

  .diff-eq {
   color: #aaa;
  }

  .diff-plus {
   color: #62c462;
  }

  .diff-minus {
   color: #ee5f5b;
  }

  .select2 .icon {
    margin-right: 0.5em;
  }

  .exp-unit {
    display: block;
    margin: 0;
    padding: 0;
  }

  .exp-unit-item {
    display: block;
    margin: 0 0 30px;
    padding: 0 0 0 10px;
    border-left: 2px solid #383838;
  }

  .exp-unit-item:after {
    clear: both;
    display: table;
    content: "";
  }

  .exp-unit-name {
    display: inline-block;
    padding: 0;
    font-size: 16px;
    color: #f0f0f0;
  }

  .exp-unit-count {
    display: inline-block;
    background-color: #6cb11e;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 0 0 0 8px;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

  .exp-unit-remainder {
    display: inline-block;
    background-color: rgb(177, 103, 30);
    border-radius: 4px;
    padding: 2px 10px;
    margin: 0 0 0 8px;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    letter-spacing: -1px;
  }

  .exp-unit-units {
    display: block;
    margin-top: 10px;

    > .icon {
      margin: 0 2px 2px 0;
    }
  }
}

// select2
.select2-results {
  max-height: 350px;

  .icon {
    margin-right: 0.5em;
  }
}
