@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";

.app-exp {
  margin-bottom: 30px;

  h1 {
    color: #ccc;
    font-size: 32px;
  }

  h4 {
    color: #888;
    font-size: 20px;
  }

  .form-control {
    border-color: #111;
    background-color: rgba(50, 50, 50, 0.8);
    color: #fff;
  }

  .control-label {
    color: #888;
  }

 .form-group:after {
    display: table;
    content: "";
    clear: both;
  }

  .input-group-addon {
    background-color: #373737;
    color: #bbb;
  }

  select[name=current_level] {
    min-width: 6em;
  }

  input[type="text"]::-ms-clear {
    display: none;
  }

  .breeding-item {
    margin-bottom: 20px;
  }

  .required-exp {
    display: block;
    text-align: center;
    background-color: #202020;
    padding: 20px;
  }

  .property {
    display: inline-block;
  }

  .property-value {
    display: block;
    font-size: 70px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    text-align: right;
    line-height: 70px;
  }

  .property-unit {
    display: block;
    font-size: 12px;
    text-align: right;
    color: #888;
  }

  .property-prefix {
    display: block;
    text-align: left;
    color: #888;
    font-size: 12px;
  }

  .diff {
  }

  .diff-eq {
   color: #aaa;
  }

  .diff-plus {
   color: #62c462;
  }

  .diff-minus {
   color: #ee5f5b;
  }

  .select2 .icon {
    margin-right: 0.5em;
  }

  .exp-unit {
    display: block;
    margin: 0;
    padding: 0;
  }

  .exp-unit-item {
    display: block;
    margin: 0 0 30px;
    padding: 0 0 0 10px;
    border-left: 2px solid #383838;
  }

  .exp-unit-item:after {
    clear: both;
    display: table;
    content: "";
  }

  .exp-unit-item-disabled {
    opacity: 0.25;
  }

  .exp-unit-name {
    display: inline-block;
    padding: 0;
    font-size: 16px;
    color: #f0f0f0;
  }

  .exp-unit-count {
    display: inline-block;
    background-color: #559dd4;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 0 0 0 8px;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

  .exp-unit-remainder {
    position: relative;
    display: inline-block;
    background-color: #202020;
    margin: 0 0 0 8px;
  }

  .exp-unit-remainder-label {
    display: block;
    position: relative;
    padding: 2px 10px;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    letter-spacing: -1px;
    z-index: 1;
  }

  .exp-unit-remainder-chart {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(39, 60, 164);
    width: 100%;
    height: 100%;
    z-index: 0;
    animation: chart-glow 400ms;
  }

  .exp-unit-units {
    display: block;
    margin-top: 10px;

    > .icon {
      margin: 0 2px 2px 0;
      transition: all 200ms ease;
    }

    > .icon-spirit {
      opacity: 0.5;
    }

    &:hover > .icon-spirit {
      opacity: 0.8;
    }
  }

  .milestone {
    display: block;
    margin: 20px 0 0 0;
  }

  .milestone-header {
    display: flex;
    margin: 0 0 5px 0;
    color: #bbb;
    font-size: 11px;
  }

  .milestone-list {
    display: block;
  }

  .milestone-list-item {
    display: inline-block;
    margin: 0 10px 5px 0;
    padding: 1px 4px;
    background-color: #000;
    border-bottom: 1px solid #670e0e;
    color: #fff;
  }
}

// select2
.select2-results {
  max-height: 350px;

  .icon {
    margin-right: 0.5em;
  }
}

@keyframes chart-glow {
  0% {
    transform-origin: left top;
    transform: scaleX(0);
  }

  100% {
    transform-origin: left top;
    transform: scaleX(1);
  }
}
