{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jquery": true,
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true,
  },
  "rules": {
    "camelcase": [0],
    "comma-dangle": [0],
    "dot-notation": [0],
    "new-cap": [1, {"newIsCap": false, "capIsNew": false}],
    "no-alert": [0],
    "no-shadow": [0],
    "quotes": [2, "single"],
    "strict": [2, "global"],
  },
  "plugins": [
    "react",
  ],
}
