.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  background-image: url("../icon/small.png");
  background-repeat: none-repeat;
  vertical-align: middle;
}

.icon-aria { background-position: -275px 0px; }
.icon-drania { background-position: -500px -25px; }
.icon-elain { background-position: -725px 0px; }
.icon-lassell { background-position: -925px 0px; }
.icon-will { background-position: -850px -25px; }
.icon-arus { background-position: -825px -25px; }
.icon-rainbow-sprit { background-position: -500px -75px; }
.icon-black-sprit { background-position: -500px -75px; }
.icon-platinum-sprit { background-position: -475px -75px; }
.icon-gold-sprit { background-position: -450px -75px; }
.icon-silver-sprit { background-position: -425px -75px; }
.icon-bronze-sprit { background-position: -400px -75px; }
.icon-iron-sprit { background-position: -375px -75px; }
.icon-grave { background-position: -175px 0px; }
.icon-soma { background-position: -875px -25px; }
.icon-daniela { background-position: -900px -25px; }
.icon-roy { background-position: -375px -50px; }
.icon-bagan { background-position: -575px 0px; }
.icon-leo { background-position: -125px 0px; }
.icon-hector { background-position: -100px 0px; }
.icon-misha { background-position: -750px 0px; }
.icon-cecily { background-position: -350px 0px; }
.icon-harissa { background-position: -375px 0px; }
.icon-bell { background-position: -950px 0px; }
.icon-philis { background-position: -200px 0px; }
.icon-motima { background-position: -625px 0px; }
.icon-gustav { background-position: -175px 0px; }
.icon-druka { background-position: -650px -50px; }
.icon-rainbow-sprit { background-position: -550px -75px; }
.icon-time-sprit { background-position: -600px -75px; }
.icon-gold-bucket { background-position: -625px -75px; }
.icon-platinum-bucket { background-position: -650px -75px; }
.icon-palace { background-position: -425px -50px; }
.icon-calliope { background-position: -125px -50px; }
.icon-verotte { background-position: -850px -75px; }
.icon-ekidona { background-position: -25px -75px; }
.icon-dragon-soldier { background-position: -450px -25px; }
.icon-gadrus { background-position: -475px -25px; }
.icon-funes { background-position: -600px 0px; }
.icon-loren { background-position: -925px -25px; }
.icon-barrad { background-position: 0px -100px; }
.icon-crystal-fragment { background-position: -975px -75px; }
.icon-giovanni { background-position: -875px -50px; }
.icon-nenya { background-position: -150px -50px; }
.icon-kagerou { background-position: -225px -75px; }
.icon-vampire-karma { background-position: -25px -100px; }
.icon-imotal-karma { background-position: -550px -25px; }
.icon-time-crystal-1 { background-position: -50px -100px; }
.icon-time-crystal-2 { background-position: -75px -100px; }
.icon-time-crystal-3 { background-position: -100px -100px; }
.icon-regular-mage-b { background-position: -325px -50px; }
.icon-regular-archer-a { background-position: -775px -25px; }
.icon-christ { background-position: -675px -50px; }
.icon-rean { background-position: -975px 0px; }
.icon-treasure-fragment-1 { background-position: -225px -100px; }
.icon-treasure-fragment-3 { background-position: -250px -100px; }
.icon-treasure-fragment-5 { background-position: -275px -100px; }
.icon-atholl { background-position: -125px -100px; }
.icon-magical-crystal-1 { background-position: -50px -100px; }
.icon-magical-crystal-3 { background-position: -75px -100px; }
.icon-crystal { background-position: -150px -100px; }
.icon-ruby { background-position: -175px -100px; }
.icon-flower { background-position: -200px -100px; }
.icon-sanosuke { background-position: -250px -25px; }
.icon-diamond { background-position: -300px -100px; }
.icon-dragon-crystal-1 { background-position: -50px -100px; }
.icon-dragon-crystal-2 { background-position: -75px -100px; }
.icon-sealing-talisman-1 { background-position: -325px -100px; }
.icon-sealing-talisman-3 { background-position: -350px -100px; }
.icon-sealing-talisman-5 { background-position: -375px -100px; }
.icon-valerie { background-position: -400px -50px; }
.icon-rosalie { background-position: -225px 0px; }
.icon-niel { background-position: -400px -100px; }
.icon-demon-crystal-1 { background-position: -425px -100px; }
.icon-demon-crystal-2 { background-position: -450px -100px; }
.icon-demon-crystal-3 { background-position: -475px -100px; }
.icon-mithril-1 { background-position: -500px -100px; }
.icon-mithril-3 { background-position: -525px -100px; }
.icon-mithril-5 { background-position: -550px -100px; }
.icon-hq-liquor { background-position: -575px -100px; }
.icon-kazuha { background-position: -600px -100px; }
.icon-fudou { background-position: -625px -100px; }
.icon-arisa { background-position: -625px -50px; }
.icon-demon-bone-1 { background-position: -650px -100px; }
.icon-demon-bone-3 { background-position: -675px -100px; }
.icon-demon-bone-5 { background-position: -700px -100px; }
.icon-ricard { background-position: -725px -100px; }
.icon-resident-soul-1 { background-position: -750px -100px; }
.icon-resident-soul-3 { background-position: -775px -100px; }
.icon-resident-soul-5 { background-position: -800px -100px; }
.icon-cassis { background-position: -825px -100px; }
.icon-sharon { background-position: -850px -100px; }
.icon-treasure-fragment2-1 { background-position: -875px -100px; }
.icon-treasure-fragment2-3 { background-position: -900px -100px; }
.icon-treasure-fragment2-5 { background-position: -925px -100px; }
.icon-tigris { background-position: -950px -100px; }
.icon-dragon-warrior { background-position: -450px -25px; }
.icon-persis { background-position: -975px -100px; }
.icon-soldier-soul-1 { background-position: 0 -125px; }
.icon-soldier-soul-3 { background-position: -25px -125px; }
.icon-soldier-soul-5 { background-position: -50px -125px; }
.icon-bernard { background-position: -950px -0; }
.icon-renard { background-position: -75px -125px; }
.icon-gladys { background-position: -100px -125px; }
.icon-saizou { background-position: -125px -125px; }
.icon-bonds-nina { background-position: -150px -125px; }
.icon-bonds-celia { background-position: -175px -125px; }
.icon-bonds-frorica { background-position: -200px -125px; }
.icon-fleur { background-position: -225px -125px; }
.icon-iroha { background-position: -250px -125px; }
.icon-blood-petition-1 { background-position: -275px -125px; }
.icon-blood-petition-3 { background-position: -300px -125px; }
.icon-blood-petition-5 { background-position: -325px -125px; }
.icon-cursed-weapon-1 { background-position: -350px -125px; }
.icon-cursed-weapon-3 { background-position: -375px -125px; }
.icon-cursed-weapon-5 { background-position: -400px -125px; }
.icon-amy { background-position: -425px -125px; }
.icon-skill-sprit { background-position: -450px -125px; }
.icon-senko { background-position: -475px -125px; }
.icon-happy { background-position: -500px -125px; }
.icon-black-armor { background-position: -525px -125px; }
.icon-liebe { background-position: -550px -125px; }
.icon-alegria { background-position: -575px -125px; }
.icon-freude { background-position: -600px -125px; }
.icon-falah { background-position: -625px -125px; }
.icon-maya { background-position: -650px -125px; }
.icon-reimei { background-position: -675px -125px; }
.icon-dragon-bead-1 { background-position: -700px -125px; }
.icon-dragon-bead-3 { background-position: -725px -125px; }
.icon-dragon-bead-5 { background-position: -750px -125px; }
.icon-hakunokami { background-position: 0 0; }
.icon-amour { background-position: -775px -125px; }
