section {
  h1 {
    font-size: 32px;

    & > a.label {
      font-size: 12px;
    }
  }
}

.control-label {
  color: #eee;
}

.marathon {
  position: relative;
  float: right;
  text-shadow: 1px 1px 1px black;
}

.progress {
  margin-top: 6px;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(40, 40, 40, 0.5);
  border-radius: 0;
}

.progress-bar-active {
  background-color: #413F3E;
  color: #fff;
}

.progress-bar-payed {
  background-color: dimgray;
}

.progress-bar-balance {
  background-color: mediumseagreen;
}

.progress-bar-expired {
  background-color: #111;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #444;
}

.progress-bar-remain {
  color: #aaa;
  background-color: #111;
}

.badge {
  text-shadow: 1px 1px 1px black;
}

.textar-aa {
  margin: 20em 1em 1em 2em;
  line-height: 1;
  color: #666;
  background-color: transparent;
  border: none;
}

input[name=objective],
input[name=current],
input[type=number] {
  text-align: right;

  &::-ms-clear {
    display: none;
  }
}

button[name=increase] {
  min-width: 4em;
  text-align: right;
}

.norma {
  margin: 1em 0;
  padding: 0.3em;
  border-left: 2px solid #888;
  border-right: 2px solid #888;
  color: #eee;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));

  .norma-label {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
  }

  .norma-remains {
    display: block;
    float: right;
    background-color: #eee;
    color: black;
    text-shadow: none;
  }

  .norma-amount {
    display: block;
    font-size: 60px;
    text-align: right;
    clear: both;

    & > .norma-amount-actual {
      display: inline-block;
    }

    & > .norma-amount-fraction {
      display: inline-block;
      font-size: 24px;
    }

    & > .norma-unit {
      display: inline-block;
      font-size: 24px;
    }
  }

  .norma-per-time {
    margin: 0em;
  }
}

#period_progress {
  margin-top: -20px;
}

#objective_progress {
  margin-bottom: 0;
  margin-top: -20px;
}

.form-control {
  border-color: #111;
  background-color: rgba(50, 50, 50, 0.8);
  color: #fff;
}

.prediction {
  position: relative;
  display: block;
  height: 80px;
}

.pointer-label {
  position: absolute;
  display: block;
  padding: 4px;
  width: 180px;
  top: 4px;
  left: 54px;
  border: 1px solid #111;
  border-radius: 0.5em;
  background-color: rgba(138, 31, 155, 0.37);
  font-size: 16px;
  color: #eee;
  transition: margin-left 600ms ease;
}

.pointer {
  position: absolute;
  display: block;
  width: 47px;
  height: 61px;
  padding-top: 61px;
  z-index: 1000;
  transition: left 600ms ease;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAA9CAYAAAA9OTA8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAKTWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28AAgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0lYqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSUEko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/pdLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Yb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+Hvqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1IreZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/PbFWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+yCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawto22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3rO9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0/rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv9563Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAlOSURBVHja1JptbFPXGcd/14oIavuphJIEdC92l8Ci0SWhdQJr6NhWrbQgWAlJJlIBC1CxlJcKqR8qAqNutzEtQoymUikRpQ1aUhJGRhhDaLDRrYRQksCQlcT4LXJe2gSkaeq0SCVnH+xzcq/tvJTYrD3SVa6vr53f85zn/M/zPNeaEIKv+9A0zQIphNAAUr6uoBJQ0zSxcc8Fsn6SA4DnD240TRNCCC0FwDCMKbk/GAxqDwJ8NORS5xv3XKDC9SN1z7L8TOACmqaJFMMwxCeXPgJgruNxhJg17pdLIxNthBka4DN/J6MhF7Z5Veqe70b+3oDwLLwJNoCly0sA6PN50bQ7aNqduP8kEAgQCAQwDENMdbYmApbHwMdrLbAZRU185u+M+cwjUeszRXpRwshZAC+Zdif9/jbmOh6PLJRZyohEzMTAx2uZY8+NQDcpr0sDNj+XBp/+FBjiRthiFfdy5VoOXdfF3h3bRMjbKkLeViHEkBBiSBzYv0+Mjo5aDnmPrusi+numcgCiudohRkMuAQhADHy8Vmx+Lk0AYjTkUq837rmgjjC2iFWbYDCoRYfEw7MeY335ihjPZdqdyNkyDEN81RkQQmiapolmjqmwyShqornawZGjO/nM30lbWwcA77/57NSkUhqwcc0LPDzrsUkhMu3OhBjQXO0AYFXpJgW+ercPgOZqB05nHhlFTWPrZqJNyjAMUVmxSXl9MjUCmD9//n2tAU3TRHO1g38VdjBv3iP8uzGLm4EUgp67HP3zsDIAYPVuH0rnJ9J1GULry1fQ5/My18GEBow3A9GhGM/Am4EUvlf8CE/qNg4FUqg63INrezaurEd5Yv6XClypzVQ2JsMwhPT+ZJ7PtDuprNgUAysVarw9w2mfyeaSRRz97bf5h+m+qsM96ty1PdsS81NSBV3XLeoTrTrmQ4ghda88xrt3745tQqqOa3u2EL0/F7quC/m6udqhVEiem7lSErND3lGbnFmFzKPf3wbAkUPH1bX3T5/ljd9pYs3BevasvYzxdIuaCU3ThGt7Ns3VDlbv9nEzEIs6KbxctHLBTgR95NBxtu7coEDNRkho940Oda23t5c1B+t5alkRml42Fg4mFXJtz2bzc2lUHe6xvP+Vs8rwgn3ckj70+bwKeuvODRYj+3xj3jZDAzT+rZU1B+vZvauUIk2LAYs2gIjiTBleav0Xdz7nRN05pOqYhzkMxqC9luv3Ax5tQNxwHU/nZbh8cefzCWdj684NlnDat3NvXOA2f78lVKYCPtmYNGzGSw3G8/RE0EDCwOPCj+nv9SmtAQnd3VALwAYjl8rBwZh9IuRt5ZU/BhIGbgmbaOjxNqNoyetuqKXcyAVg+XfmEfDcxj8yk7pgJ/WDI5osduY6Cvg7YPddZenykoQUNKoMHMvjrTJolsJ40N2R63XBTuyp/8XV00VV9kLlkN7eXuY6CgB4uucUxrOvJqwSS4kXw/FGdHjUvrCSirMt5L36BpXvvMMSwNXTxdtH99HqauZKajq9vb2EvK30+a4y98u+hIIreBmX0d43g79/+ixLRgZj3isrK6Pj4F7qb7WGvb14jVqgIW8rmXYnNpsNXdcTXvumTFSEmMeSkUHl7XsL8wl4bodhR65Tf/n3Crym2sWqdRuSDj7lxKx0zgxxxukUt4qeEKVzZoiQt1WUzpkh5HVd12UpKACVjAH3XSJOqYycCLh0zgwR/br4mUJR/EyhCHlbRfEzhULXdVH+ZNkDB580q6zKXkhZeqoKpXsL8zn51zP85o23VbskeP003PWjaVpMqCR7TAjvH5lJVfZC5md9C4BLt0Ks+/4q2vz9YWgIgy9Yi2t7tgW8smITy23u+6prEwJfF+yk3MjFfytEXbCTK6npAFyveTkGfHPJImw2G0Nn3mIk54cAnKiDxi0kzQCbkrz0VGEOkWgjrqSmY5HSu351urlkERlFTZw5eRx/Zyep7r/Q0d7Na3t/waXRHK7XvMx0O2yTer72hZWUpaeK+sERDaDcyJXbPH2+q5yoO4csTIZ7utTnMoqaIk2kYeB5Whr/xMri54Fh1pevYHFkfSTN8+VGLgHPbWVAPHCAaxfP4+8c6yMOnXkL0d0UAQ+nEm63jz6f15JW1FS7Eu59mzk0/CMzCXhux/X4tYvnuXbxPADF711VBsi/ErajPZztyL9Ll5eo2Uq0Abbo2JYZYRhoDNw8nPZMiqs+AcCem8u1j+rpaO/mRN058vIXsL58BW63T8mpecRri0w7JZaLFojxeLzR5u+H3ntkPJROVk6W5T2P28NA2hDmDnRlxSZycsIdL7fbR03tsWmnDLboIkSCy/iW46kf/HjcL/G4PXjcHj48sQ6A1o7XyRiebSlIamqP4XaHu105OY6EhJAlbMwe3/WzXeOCy9Ku0bWU1o7XycrJIisni8K8X/Lhudd4af1JBv4zGNN5q6k9pjyfiBBSxUgwGIx7gwSXs9Dm70dWRvScgkftHNy3iJWlp2hpeBHu+tmx+h6XP43fOmxp/EBII6b7iEgTQqhKyhzjbf5+pRLmazXVLvLyF0SKl3CF1NL4AQBzuloofu/qhA/iEvlcS9N1XRUhS5eX4LRn0ubvZ8nIIFdS06ms2BTj9Y72bhoOnItZoBnDs9lzfAd5+QuUYRHgpOTzaoeVsiY93v7Or+J+YO2iyrC3G14EIK1whUoXXlp/MgY84mUMbZ4IilBinyJGurKWikl6vKb2GE57pmWhNm4pwJ6bS1qkyDaP4Z4uXt3/T37dsCuqv1OQFO+rp4FS42XmKDejaIWx5+ZO+qWyN7nhlW3k5S9Q0pu03EYmY1LCzBrf5u9XXjPnNWaPD/d0sbjyXTxujwX8gRcj1y6eV542e1/mNY1bYj+zuPJdixKZR6KaTFNutE4ka/J645YCZVA88I72bip3VyXtNwvadH6yIo2oqQ7/ZkDCmxOyZP7YwjYd8Izh2Sx7bKnF0+YUONm/ErnvZ1IZw7MZSBsCN0BY6yt3VynwBzHu2/MDaUPqvOHAOZVsAQlJd5MKHw1XU3sMc87+tfZ8dD7//xjTeg5rbs4+yFhPmOfN4ZOT40iqriccPhnNpAca8+Z69RsHD3DqQItFLr9R8FL3k9EZG3ckoskvHyIUPLRYHNi/T5w5eTzpDxaEENNLzMbLd+RMJFt1/jcADqRtFtz7r/sAAAAASUVORK5CYII=');
}

.diff {
  font-size: 0.8em;
}

.diff-eq {
  color: #aaa;
}

.diff-plus {
  color: #62c462;
}

.diff-minus {
  color: #ee5f5b;
}

[data-chart] {
  background-color: #111 !important;
  position: relative;
  text-align: right;

  .barchart-label {
    float: left;
    position: relative;
    text-shadow: 1px 1px 1px black;
  }

  .barchart {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 600ms ease;
  }
}

.marathon {
  position: relative;
  float: right;
  text-shadow: 1px 1px 1px black;
}

.prize-value {
  color: rgb(190, 170, 139);
  font-size: 0.8em;
}

.prize-gage {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.prize-list {
  margin-bottom: 2em;
}

.prize-list-header {
  margin-bottom: 1em;
  // border-bottom: 1px solid #555;
}

.prize-list-body {
  padding: 6px 0;

  .icon {
    box-shadow: 0 0 8px rgba(246, 255, 181, 0.8);
    display: inline-block;
    position: relative;
  }
}

@media screen and (max-width: 420px) {
  .norma-amount-fraction {
    display: none !important;
  }
}

#estimate {
  position: relative;
  display: block;
}

.estimate-table {
  margin-bottom: 0;

  > tbody > tr {
    > th {
      border: none;
      font-size: 12px;
      color: #aaa;
      text-align: right;
      vertical-align: bottom;
    }

    > th:before {
      display: inline;
      content: "";
      font-size: 20px;
    }

    > td {
      border: none;
      font-size: 12px;
      color: #aaa;
      vertical-align: bottom;
    }

    &.estiamte-required-marathon,
    &.estiamte-using-stamina,
    &.estiamte-using-charisma,
    &.estiamte-experience,
    &.estiamte-gold {
      > th:before {
        font-size: 16px;
      }

      > td > .estimate-value {
        font-size: 16px;
      }
    }
  }

  .estimate-value {
    color: #fff;
    font-size: 20px;
  }

  .diff {
    color: #aaa;
    font-size: 12px;
  }
}

[data-objective-mode] {
  display: none;
}

@media screen and (min-width: 768px) {
  .table--map {
    td.expectation,
    th.expectation {
      width: 40%;
    }
  }
}

[disabled] {
  background-color: transparent !important;
  color: #888 !important;
}

#map {
  margin: 20px 0;
}


.tutorial {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.tutorial-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.tutorial-header {
  position: absolute;
  top: 0;
  right: 0;
}

.tutorial-body {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  padding: 1em 1em 1em 80px;
  font-size: 16px;
  text-align: center;
  transform: translateY(-50%);

  .tutorial-title {
    margin: 0 0 1em 80px;
    color: #ccc;
    font-size: 24px;
  }

  .anna {
    position: relative;
    top: 2em;
    float: left;
  }

  & > p {
    margin-left: 80px;
    line-height: 1.8;
  }
}

.anna {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAADAFBMVEUAAACAAAAAgACAgAAAAICAAIAAgIDAwMDA3MCmyvAKAAAbEBAMAAANAAAOAAAPAAAgAAAYAABgAAB/AACgAADAAADgAAD+AAD/HBz/ODj/VFT/cHD/jIz/qKj/xMT/4OAAIAAAQAAAYAAAfwAAoAAAwAAA4AAA/gAc/xw4/zhU/1Rw/3CM/4yo/6jE/8Tg/+AAACAAAEAAAGAAAH8AAKAAAMAAAG4AAP4cHP84OP9UVP9wcP+MjP+oqP/ExP/g4P8gIABAQABgYAB/fwCgoADAwADg4AD+/gD//xz//zj//1T//3D//4z//6j/6sT//+AAICAAQEAAYGAAf38AoKAAwMAA4OAA/v4c//84//9U//9w//+M//+o///E///g//8gACBAAEBgAGB/AH+gAKDAAMDgAOD+AP7/HP//OP//VP//cP//jP+3YLfSef//4P/Pj0/fn1/vr2//v3//7t3/0rrx1qz/57+AQABkNwCfbz+vh1+/n3/Pt5/fz7/v598AgP8fj/8/n/9fr/9/v/+fz/+/3//f7/8AQIAfV48/b59fh69/n7+ft8+/z9/f5++AAP+PH/+fP/+vX/+/f//Pn//fv//v3/9AAIBXH49vP5+HX6+ff7+3n8/Pv9/n3++A/wCP/x+f/z+v/1+//3/P/5/f/7////5AgABXjx9vnz+Hr1+fv3+3z5/P37/n79//Ziv/djz/hk3/ll//p3D/t4L/x5P/2KWAQICPV4+fb5+vh6+/n7/Pt8/fz9/v5+8A/4Af/48//59f/69//7+f/8+//9/f/+8AgEAfj1c/n29fr4d/v5+fz7e/38/f7+cAUgAkSwBIRQBtPwCROAC2MgDaLAD/JgD/UAD/egD/pAD/zhD/+ED//2///6D//9AzLTBgTzdaVlpAQEBQUFBgYGBwcHB/f3+QkJCgoKCwsLDAwMDQ0NDq6urw8PD+/v74AAD9AAD8AAD7AAD6AAD5AAD/6t2goKSAgID/AAAA/wD//wAAAP//AP8A//////87sKtBAAABAHRSTlP///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AU/cHJQAAAJhJREFUeJzlljEOgCAUQ7kBB/W+zhxAcWPV36HJTwOTW3kLzYe+gURDeX9SjAVV2E2AwpXowUriKGD5FFYSN0Eud2ElcRXg4AhYznkXAQrILGreTTCT7SA4giFg5i5gmVSBHxn33AXILcCPFBeIrPvOAqx3oIU8cxWopAmYPUEuOwooyY8rCJm17CqghBeX8+ysq4CSWTYUfNOHiEUdWQCeAAAAAElFTkSuQmCC');
}

.reward {
  .table {
    background-color: transparent;

    & > thead {
      & > tr {
        & > th,
        & > td {
          border: none;
        }
      }
    }

    & > tbody {
      & > tr {
        & > th,
        & > td {
          border: none;
        }
      }
    }
  }
}

code {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}

#map tbody .badge {
  background: transparent;
  padding: 3px 4px 3px 2px;
}

#map tbody tr td:nth-child(3), #map tbody tr td:nth-child(4), #map tbody tr td:nth-child(5), #map tbody tr td:nth-child(6) {
  padding: 8px 2px;
}

.select2-results {
    max-height: 400px;
}

@media screen and (max-width: 767px) {
  #map .table-responsive {
    border: none;
  }

  #map table {
    display: block;
    border: none;
    background-color: transparent;
  }

  #map tr {
    display: block;
    border: 0 solid #1e1e1e;
    margin: 10px 0 40px;
    background-color: transparent;
  }

  #map td {
    display: block;
    border: none;
  }

  #map th {
    display: block;
    border: none;
  }

  #map thead {
    display: block;
    border: none;
  }

  #map thead th:nth-child(-n+3) {
    display: none;
  }

  #map tbody {
    display: block;
  }

  #map tbody tr th {
    display: inline-block;
    padding: 8px 0;
  }

  #map tbody tr td:nth-child(2) {
    display: inline-block;
    color: #888;
  }

  #map tbody tr td:nth-child(3), #map tbody tr td:nth-child(4), #map tbody tr td:nth-child(5), #map tbody tr td:nth-child(6) {
    display: inline-block;
    padding: 2px;
  }

  #map tbody tr td:nth-child(7) {
    padding: 0;
  }

  #map tfoot {
    display: block;
  }

  #map [data-chart] {
    min-height: 2.5em;
  }
}
