.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; }
  .loading .loading-background {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8; }
  .loading .loading-foreground {
    position: fixed;
    z-index: 10000; }
  .loading img {
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 50%;
    margin: -80px 0 0 -40px; }
  .loading .progress {
    position: fixed;
    left: 1em;
    top: 50%;
    right: 1em; }
  .loading .progress-bar {
    width: 100%; }

td {
  border-top: none !important; }

#notices {
  margin: 1em; }

form {
  padding: 1em;
  background-color: #fcfcfc;
  border-bottom: 1px solid #ccc; }

input[type=text] {
  min-width: 4em; }

select {
  min-width: 5em; }

section {
  margin: 1em 1em; }

.time {
  text-align: right; }

#unitList {
  padding: 1em; }

#unitList tbody td {
  cursor: move; }

#chart {
  width: 100%;
  height: 400px; }

.pickup th, .pickup td {
  text-align: right; }

.label-rarity-1 {
  background-color: royalblue; }

.label-rarity-2 {
  background-color: #5F9EA0; }

.label-rarity-3 {
  background-color: #556B2F; }

.label-rarity-4 {
  background-color: #666; }

.label-rarity-5 {
  background-color: #FFA500; }

.label-rarity-6 {
  background-color: #7B68EE; }

.label-rarity-7 {
  background-color: #101010; }

.label-primary a {
  color: white; }

input[readonly] {
  cursor: text !important; }

.label-class {
  color: #666;
  background-color: #eee; }

.unit-info .label {
  display: block; }

.template {
  display: none; }

.skill-level {
  font-weight: bold; }

select[name=skill_lv] {
  max-width: 5em; }

.small-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: none-repeat;
  vertical-align: middle;
  box-shadow: 0 0 3px #333; }

td.unit-icon {
  vertical-align: middle;
  text-align: center; }

.select2-results {
  max-height: 350px; }
